<nav class="navbar navbar-default" role="navigation">
   <ul class="nav navbar-nav navbar-left">
       	<li><%= link_to "Home",    root_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, '#' %></li>
			<li><%= link_to "Sign out",    destroy_user_session_path, :method => :delete %></li>
	  <% else %>
			<li><%= link_to "Sign in",    new_user_session_path %></li>
      <li><%= link_to "Sign up",    new_user_registration_path %></li>
	  <%end%>
    </ul>

   <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Switch theme",    {:controller => "/home", :action => :switch_theme, :theme => :dark, :path => request.original_url} %>
      </li>
      <li><%= link_to "en",    {:controller => "/user", :action => :change_locale, :locale => :en ,:path => request.original_url.split('?locale')[0]} %>
      </li>
      <li><%= link_to "ru",    {:controller => "/user", :action => :change_locale, :locale => :ru, :path => request.original_url.split('?locale')[0]} %>
      </li>
   </ul>
</nav>