<h1><%= link_to 'New task', new_user_task_path(current_locale, current_user) %></h1>

<hr>
<%= form_for (:task), url: user_tasks_path(current_locale, current_user.id), method: :post, :html => {:role => 'form', :class => 'form', :id => 'form'} do |f| %>

  <% if @task.errors.any? %>
	<div id="error_explanation">
	  <h2>
	    <%= pluralize(@task.errors.count, "error") %> prohibited
	      this task from being saved:
	  </h2>
	  <ul>
	    <% @task.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>
  <% end %>

  <%= label_tag 'Section' %>
  <br>
  <%= f.radio_button :section, :ror, {checked: true} %>
  <%= f.label :section_ror, 'Ruby on Rails' %>

  <%= f.radio_button :section, :java %>
  <%= f.label :section_java, 'Java' %>

  <%= f.radio_button :section, :python %>
  <%= f.label :section_python, 'Python' %>

  <%= f.radio_button :section, :net %>
  <%= f.label :section_net, '.NET' %>

  <hr>

  <div class="form-group">
    <%= f.label :tags %>
    <%= f.autocomplete_field :tags, autocomplete_tag_name_user_tasks_path, 'data-delimiter' => tag_separator, :multiple => true, :class => 'form-control input-sm', :value => '' %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control input-sm' %>
  </div>
 
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'form-control input-sm', :data => {:provide => "markdown"} %>
  </div>

  <%= link_to "Upload images", '#', id: 'upload_widget_opener', class: 'btn btn-sm btn-primary' %>
  <br><br>
  <p id =  'preview'></p>
  <hr>

  <div class="input_fields_wrap">
    <button class="add_field_button btn btn-sm btn-primary">Add answer</button> <br>
    <div><%= f.text_field :answers, :class => 'form-control input-sm', :name => 'task[answers][]', :value => '' %>'</div>
  </div>

  <hr>

  <div class="form-group">
    <%= f.submit :class => "btn btn-primary btn-sm" %>
  </div>

<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<% end %>