<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to t('header.home'),    root_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, '#' %></li>
        <li><%= link_to t('header.sign_out'),    destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to t('header.sign_in'),    new_user_session_path %></li>
        <li><%= link_to t('header.sign_up'),    new_user_registration_path %></li>
      <%end%>
    </ul>

   <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Switch theme",    {:controller => "/home", :action => :switch_theme, :theme => :light, :path => request.original_url} %> 
      </li>
      <li><%= link_to "en",    {:controller => "/user", :action => :change_locale, :locale => :en} %>
      </li>
      <li><%= link_to "ru",    {:controller => "/user", :action => :change_locale, :locale => :ru} %>
      </li>
   </ul>
</nav>